.chow {
  margin: 20px;
  font-family: inherit;
}

.right {
  float: right;
}

.chow-list {
  width: 50%;
  float: left;
}

app-chow-detail {
  width: 50%;
  float: right;
  margin-top: 60px;
}

.banner {
  width: 100%;
  background-color: #FCB041;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.banner-image {
  max-width: 40%;
}

.search-bar {
  padding: 10px 20px 0;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.search-input {
  width: 100%;
}
