.chow {
  margin: 20px;
  font-family: inherit;
}

.right {
  float: right;
}

.chow-list {
  width: 50%;
  float: left;
}

app-chow-detail {
  width: 50%;
  float: right;
}

.banner {
  width: 100%;
  background-color: #FCB041;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  max-width: 40%;
}
