<div class="container chow-form">
  <h2 *ngIf="!chow" class="text-center">Create a New Chow</h2>
  <h2 *ngIf="chow" class="text-center">Edit Chow</h2>

  <form>
    <mat-form-field class="chow-field">
      <input matInput placeholder="Food" type="text" [value]="chow ? chow.food : ''" #food />
    </mat-form-field>

    <mat-form-field class="chow-field">
      <input matInput placeholder="Meeting Location" type="text" [value]="chow ? chow.meetLocation : ''" #meetLocation />
    </mat-form-field>

    <mat-form-field class="chow-field">
      <input matInput placeholder="Meeting Time" type="text" [value]="chow ? chow.meetTime : ''" #meetTime />
    </mat-form-field>

    <mat-form-field class="chow-field">
      <input matInput placeholder="Food Category" type="text" [value]="chow ? chow.category : ''" #category />
    </mat-form-field>

    <mat-form-field class="chow-field">
      <textarea matInput placeholder="Notes" [value]="chow ? chow.notes : ''" #notes></textarea>
    </mat-form-field>

    <button *ngIf="!chow" mat-button color="primary" type="button" (click)="add(food.value, meetLocation.value, meetTime.value, category.value, notes.value)">
      Create
    </button>
    <button *ngIf="chow" mat-button color="primary" type="button" (click)="save(food.value, meetLocation.value, meetTime.value, category.value, notes.value)">
      Save
    </button>
    <button mat-button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
