<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chowpals.chowmein">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/chowmein_cat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewChowActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditChowActivity"
            android:label="@string/title_activity_create_chow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchChowActivity"
            android:label="@string/title_activity_search_chow"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VerifyChowActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".login.SignUpActivity"
        android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>