.chow {
  margin: 20px;
}

.right {
  float: right;
  margin-left: 10px;
}

.include-newline {
  white-space: pre-wrap;
}

.chow-details {
  font-family: inherit;
}

.click-chow {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed 2px black;
}

.click-chow-msg {
  margin-top: 0;
}

.chowmein-cat {
  max-width: 30%;
}
