<div class="chow">
  <div *ngIf="!chow">Click a Chow to view details</div>
  <div *ngIf="chow">
    <span>{{chow.food}}</span>
    <span class="right">Last updated: {{chow.lastUpdated}}</span>
    <div>Location: {{chow.meetLocation}}</div>
    <span class="right">Posted By: {{chow.posterName}}</span>
    <div>Time: {{chow.meetTime}}</div>
    <br>
    <div class="include-newline">{{chow.notes}}</div>
    <br>
    <button>Chow Me-In!</button>
    <button type="button" class="right" (click)="deleteChow(chow.id)">Delete</button>
    <button type="button" class="right" (click)="showForm=true">Edit</button>
  </div>
</div>

<app-chow-form *ngIf="showForm" [chow]="chow"></app-chow-form>
<button *ngIf="showForm" class="btn btn-default" (click)="showForm=false">
  Cancel
</button>
