.navbar {
    position: relative;
    z-index: 10000 !important;
}

.navbar-right {
    padding-right: 7px;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
	text-align: center;
}

.h4, h4 {
	margin-bottom: 0px;
}
