<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="/chow-list">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/create-chow">Create a New Chow</a></li>

      <div *ngIf="userService.getValidity(); then logmeout else logmein"></div>
      <ng-template #logmein><li><a (click)="login($event)">Login</a></li></ng-template>
      <ng-template #logmeout><li><a (click)="logout($event)">Logout</a></li></ng-template>

    </ul>
  </div>
</nav>
  

<h1>
  <div *ngIf="userService.getValidity(); then user else nouser"></div>
  <ng-template #user>Howdy, {{ userService.getUsersName() }}!</ng-template>
  <ng-template #nouser>Welcome to {{ title }}!</ng-template>
</h1>

<!-- Verify user credentials on page reload, helps prevent tampering and show login state properly -->
<router-outlet (activate)="userService.verifyLoginValidity()"></router-outlet>
