<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="/chow-list">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/create-chow">Create a New Chow</a></li>

      <div *ngIf="checkLoginValidity(); then logmeout else logmein"></div>
      <ng-template #logmein><li><a (click)="login($event)">Login</a></li></ng-template>
      <ng-template #logmeout><li><a (click)="logout($event)">Logout</a></li></ng-template>

    </ul>
  </div>
</nav>

<h1>
  <div *ngIf="checkLoginValidity(); then user else nouser"></div>
  <ng-template #nouser>Welcome to {{ title }}!</ng-template>
  <ng-template #user>Welcome to {{ title }}, {{ getUser() }}!</ng-template>
</h1>
<router-outlet></router-outlet>
