<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="/chow-list">View Chows</a></li>
      <li *ngIf="userService.getValidity()"><a routerLink="/my-chows">My Chows</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <div *ngIf="userService.getValidity(); then logmeout else logmein"></div>

      <ng-template #logmein><li><a class="clickable" (click)="login($event)">Login</a></li></ng-template>
      <ng-template #logmeout>
        <li><a routerLink="/chow-form">Create a New Chow</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ userService.getUsersNameFromStorage() }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="clickable" (click)="logout($event)">Logout</a></li>
          </ul>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<ng4-loading-spinner style="opacity:0.25;"> </ng4-loading-spinner>

<!-- Verify user credentials on page reload, helps prevent tampering and show login state properly -->
<router-outlet (activate)="userService.verifyLoginValidity()"></router-outlet>
