.navbar {
    position: relative;
    z-index: 10000 !important;
    background-color: #655e99;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.open>a {
  background-color: inherit;
}

.navbar-right {
    padding-right: 7px;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
	text-align: center;
}

.h4, h4 {
	margin-bottom: 0px;
}
