<div class="container chow-form">
  <form>
    <div class="form-group">
      <label for="food">Food</label>
      <input type="text" class="form-control" [value]="chow ? chow.food : ''" #food />
    </div>
    <div class="form-group">
      <label for="meetLocation">Meeting Location</label>
      <input type="text" class="form-control" [value]="chow ? chow.meetLocation : ''" #meetLocation />
    </div>
    <div class="form-group">
      <label for="meetTime">Meeting Time</label>
      <input type="text" class="form-control" [value]="chow ? chow.meetTime : ''" #meetTime />
    </div>
    <div class="form-group">
      <label for="notes">Notes and Contact Information</label>
      <textarea class="form-control" rows="5" [value]="chow ? chow.notes : ''" #notes></textarea>
    </div>
  </form>

  <button *ngIf="!chow" class="btn btn-success" (click)="add(food.value, meetLocation.value, meetTime.value, notes.value)">
    Create
  </button>
  <button *ngIf="chow" class="btn btn-primary" (click)="save(food.value, meetLocation.value, meetTime.value, notes.value)">
    Save
  </button>
</div>
